body {
  background: #F6F6F6;
}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v11/xkvoNo9fC8O2RDydKj12b73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

.nidra {
	margin-top: 90px;
}

.top-buffer {
	margin-top: 50px;
}

#wrapper.wrapper-resurect {
	margin-top: 40px;
	margin-left: 50px;
 	margin-right: 70px;
 	/*font-family: Geneva, Arial, Helvetica, sans-serif;*/
 	font-family: Raleway;
 	/*background: #fff;*/
}

.document-width-full {
	margin-top: -10px;
	margin-right: 0px;
	margin-left: 0px;
}

.navigation {
	margin-left: 100px;
}

.greyField {
	background-color: gainsboro;
	margin-left: 50px;
	margin-right: 30px;
	padding-right: 0px;
}

.asanaListFigure {
	/*float: left;*/
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 3px;
}

img.asanaImg {
	float: left;
	margin-right: 10px;
	/*margin-left: 10px;*/
	/*padding-bottom: 7px;*/
	cursor: pointer; 
	max-width: 150px;
	max-height: 150px;
}
img.asanaImg:hover {
	float: left;
	margin-right: 10px;
	/*padding-bottom: 7px;*/
	max-width: none;
	max-height: none;
}

.logo {
	width: 20px;
	height: 20px;
}

.slider {
	position: center center;
}


/*.daypr {
float: left;
width: 1px;
height: 175px;
}*/

h1 {
	margin-top: 50px;
}

.carousel-inner {
	margin-top: 50px;
}

 #wrapper {
 	margin-top: 60px;
 	margin-left: 50px;
 	margin-right: 50px;
 	font-family: FontAwesome;
 }

 .asanaList {
 	.make-xs-column(4);
 	.make-xs-column-offset(8);
 	.make-sm-column(4);
 	.make-sm-column-offset(8);
 	.make-md-column(4);
 	.make-md-column-offset(8);
 	.make-lg-column(4);
 	.make-lg-column-offset(8);
 }

 #asanaDescript {
 	margin-left: 50px;
 	margin-right: 50px;
 }

.descriptionBlock {
	margin-top: 50px;
}

.daypr {
	margin: 10px 10px 10px 10px;
	height: 175px;
	float: left;
	width: 175px;
}